.todo-img {
  width: 100%;
  padding-bottom: 1rem;
  display: block;
}

.header-container {
  position: relative;
}

.image-text {
  position: absolute;
  transform: translate(95%, -150%);
  text-align: right;
}

.time-display {
  color: #fff;
  font-family: "Russo One", sans-serif;
  font-size: 40px;
  font-weight: 400;
}

.date {
  color: #fff;
  font-family: "Russo One", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
