.single-container {
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.input {
  display: flex;
  align-items: center;
  gap: 1rem;
}
