.single-container {
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.todo-title {
  color: #0d0d0d;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 0.2rem;
}

.todo-time {
  color: #888;
  font-size: 12px;
  font-weight: 400;
}

.todo-info {
  padding-left: 1rem;
}

.todo-status {
  padding-right: 1rem;
}

input[type="checkbox"]:checked.todo-done {
  background-image: url("/src/images/checkmark.svg");
  background-color: #20EEB0;
}